body{
    background-image: url('main_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#nav-text-custom{
    color: white;
}
  
.main_title{
    text-align: center !important;
    font-size: xx-large;
    margin-top : 57vh;
}

.main_ex{
    text-align: center;
    font-size: x-large;
}

.main_logo{
    width: 13.5vw;
}

.main_logo2{
    width: 10.2vw;
}

.main_img_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20rem;
}

.baseball{
    width: 4vw;
}

.hockey{
    width: 4vw;
}


.basketball{
    width: 4vw;
}

.rugby{
    width: 4vw;
}

.soccer{
    width: 4vw;
}

.sports_logo1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.sports_logo2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.yonsei_sports{
    text-align: center;
}

.korea_sports{
    text-align: center;
}